@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bubble {
	border-radius: 100%;
	color: #E8FEED;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #4e4e4e;
	background: #3a3a3a;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 10px;
}

.bubble:hover {
	cursor: pointer;
}

.blur {
	animation: lowOpacity 0.1s;
	opacity: 0.5;
}

.bubble-text {
	padding: 20px;
}

.bubble-container-inner {
	position: absolute;
	background: transparent;
	border-radius: 999px;
	transition: 0.2s padding linear, 0.2s border linear;
	border: 0 dashed green;
	width: fit-content;
	animation: testAnimation 0.5s;
}

.bubble-container-inner:hover {
	border-width: 3px;
	z-index: 2;
}

/*
zoom from click location on load animation
*/

@keyframes testAnimation {
	0%{
		transform: translate(0px, 0px) scale(0);
	}
	100%{
		
	}
	
}
