@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bubble {
	position: absolute;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	transition: all 0.3s ease;
	font-size: 14px;
	color: #E8FEED;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #202020;
	font-family: 'Open Sans', sans-serif;
	line-height: 21.8px;
	font-weight: 600;
}

@media screen and (min-width: 720px) {
	.bubble {
		width: 100px;
		height: 100px;
	}
}

.fade-in-animation {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0% {
		transform: scale(0.5, 0.5)
	}


	100% {
		transform: scale(1, 1)
	}
}

.fade-out-animation {
	animation: fadeIn 3s;
}

@keyframes fadeOut {
	0% {
		transform: scale(1, 1)
	}


	100% {
		transform: scale(1.2, 1.2)
	}
}



@media screen and (min-width: 1600px) {
	.bubble {
		width: 160px;
		height: 160px
	}
}

.bubble:hover {
	cursor: pointer;
	transform: scale(1.1);
	outline: 2px dashed green;
	outline-offset: 5px;
	z-index: 10 !important;
	font-size: 16px;
}

.back-bubble:hover{
	z-index: 0 !important;
}

.back-bubble {
	position: absolute;
	height: 500px;
	width: 500px;
	background-color: "red";
	border-radius: 50%;
	font-size: 16px;
	color: #E8FEED;
	text-align: center;
	background-color: #202020;
	font-family: 'Open Sans', sans-serif;
	line-height: 21.8px;
	font-weight: 600;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
	z-index: 0 !important;
}

.blur {
	filter: blur(0px);
}

.back-button {
	height: 52px;
			width: 52px;
			text-align: center;
			margin: 10px;
			border: 1px solid white;
			background-color: #4E4E4E;
			border-radius: 50%;
			color: grey;
			margin-top: 30px;
}

