.close-text {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}

.close-icon {
	margin-right: 10px;
}

.close-button {
	box-sizing: border-box;

	width: 125px;
	height: 52px;
	background: #FFFFFF;
	border: 1.5px solid #4E4E4E;
	box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.25);
	border-radius: 132px;
	text-align: center;
}