@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bubble-container {
	height: 80vh;
	width: 100vw;
	background-color: #191819;
	margin-top: 10vh;
}

a {
	text-decoration: none;
	color: white;
}

.top-right-wrapper {
	position: absolute;
	top: 13vh;
	right: 4vw;
	align-items: center;
	justify-content: center;
	display: flex;	
}